.container{
    display: none;
}

.login-btn{
    width: 8rem;
    height: 3rem;

    background: var(--main-blue);
    border-radius: .2rem;
    border: none;
    outline: none;

    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;

    margin-top: 1rem;

    transition: transform .3s, background-color .1s;

    &:hover{
        cursor: pointer;
        background: var(--main-blue-hover);

        transform: scale(.96);
    }
}

.desktop-only{
    margin: 0;
}

@media (max-width: 820px){
    .desktop-only{
        display: none;
    }

    .container{
        position: relative;
    
        width: 100%;
    
        display: flex;
        flex-direction: column;
    
        .background{
            position: absolute;
            top: 0;
            left: 0;
    
            width: 100%;
            height: 6rem;
    
            box-shadow: 0 2px 4px rgba($color: #000000, $alpha: .2);
        }
    
        .avatar{
            position: relative;
            z-index: 2;
    
            width: 5rem;
            height: 5rem; 
    
            font-size: 2.4rem;
            
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba($color: #000000, $alpha: .3);
    
            margin: 3.5rem auto 0;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
        }
    
        .content{
            width: 100%;
    
            font-size: 1.6rem;
            font-weight: 600;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            
            margin: 1rem 0;
        }
    }
    
    // light-theme
    
    .container.light-theme{
        .background{
            background: rgba($color: #000000, $alpha: .1);
        }
    
        .avatar{
            background: var(--third-color-light-theme);
            color: var(--main-color-light-theme);
        }
    
        .content{
            span{
                color: var(--main-font-light-theme);
            }
        }
    }
    
    // dark-theme
    
    .container.dark-theme{
        .background{
            background: var(--main-color-dark-theme);
        }
    
        .avatar{
            background: var(--third-color-dark-theme);
            color: var(--sub-color-dark-theme);
        }
    
        .content{
            span{
                color: var(--main-font-dark-theme);
            }
        }
    }
}


